nav{
    background-color: #3E517A;
    padding: 20px;
    text-align: center;
    width: 100%;
}
.boton{
    background-color: #D9D9D9;
    padding: 10px 20px; 
    color: #3E517A;
    font-family: Helvetica;
    font-size: 22px;
    font-style: Helvetica;
    font-weight: 900;
    border-radius: 23px;
    display: inline-block;
    width: 200px;   
    margin: 10px;
    transition: transform 0.2s;
}
.boton:hover {
    transform: scale(1.05); /* Agranda el botón al 5% (puedes ajustar el valor según tus preferencias) */
}
.titulo{
    color: #3E517A;
text-align: center;
font-family: Helvetica;
font-size: 64px;
font-style: Helvetica;
font-weight: 900;
line-height: normal;
}
.img1{
border-radius: 20px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 500px;
    height: 500px;
    flex-shrink: 0;
    margin-left: auto;  
    display: block;
    text-align: center;
    margin-right: 200px;
}
.container{
    background-color:  #A8E0FF; 
    border-radius: 100px;
    border: 2px solid #000; 
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.columnaizquierda{
    flex: 1;
    padding-right: 20px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
}
.columnaderecha{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea los datos al principio */
    align-items: flex-start; /* Alinea los datos a la izquierda */
    color: #3E517A;
    font-family: Helvetica;
    font-size: 36px;
    font-style: Helvetica;
    line-height: 0.9; /* Ajustado para un espaciado razonable */
}
.columnaderecha strong { 
    font-weight: bold; /* Agregar negrita a los títulos */
}
.pie_de_pagina {
    background-color: #3E517A;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    font-size: 24px
}

.logo {
    margin-bottom: 10px; /* Espacio entre el logo y el texto */
}

.logo img {
    max-width: 200px; /* Ajusta el tamaño de la imagen según tus necesidades */
}